body {
    color: #f2f2f2;
    font-family: 'Roboto', Arial;
    background-color: #1e1f22;
    background-image: url('/assets/blob.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: fit-content;
    background-color: #111214;
    border-radius: 2px;
    box-shadow: 1px 1px 15px #02020254;
    padding: 18px;
}

.sub-text {
    font-size: 13px;
    margin-top: 44px;
}

button {
    margin-top: 16px;
    background-color: #273b5a;
    width: 122px;
    height: 32px;
    border: none;
    border-radius: 100px;
    color: #e1e1e1;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    filter: brightness(1.2);
}

.bi-bug {
    font-size: 34px;
    color: #bd5959;
}

.bi-patch-check {
    font-size: 34px;
    color: #4f92d1;
}

.discord-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    height: 40px;
    padding: 0 18px;
    border-radius: 100px;
    background-color: #23242a;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
}

.discord-btn:hover {
    filter: brightness(1.1);
}